// Navbar Start
* {
  font-family: var(--primary-font-family);
  font-size: var(--paragraph-font-size);
  overflow-x: hidden;
}
hr {
  margin: 0 0 !important;
}

.homeContainer {
}

.herContainer {
  /* z-index: -5; */
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 0;
  margin: 0;
}

.play_buton {
  position: absolute;
  margin: 25% 48%;
  cursor: pointer;
  transition: transform 0.7s;
}

.play_buton:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/* .rightHeroContainer {
  padding: 7% 7% 2%;
  background: radial-gradient(
    at 0 225%,
    var(--fluorescent-green),
    0.5%,
    var(--background-dark-grey)
  );
} */

.rightHeroContainer {
  background: linear-gradient(
    to bottom left,
    var(--background-dark-grey),
    95%,
    var(--fluorescent-green)
  );
}
.rightHeroContainer p {
  padding: 10% 0;
}

.heading_content {
  /* padding: 5% 0 0 5%; */
  padding: 15%;
}

.herContainer > * {
  width: 101%;
}

.reusable_heading {
  font-size: var(--heading-font-size);
  overflow-y: hidden;
  font-weight: 200;
}

.reusable_heading span {
  font-size: var(--green-heading);
  color: var(--primary-green);
  font-style: italic;
  font-weight: 900;
}
.reusable_heading p {
  font-size: var(--paragraph-font-size);
}

.leftHeroContainer {
  background-color: var(--background-light-grey);
}

.glass_tile_specs3 {
  padding: 3% 5%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--glass-effect-tile);
  width: 60%;
  align-items: center;
  text-align: center;
  align-self: center;
}

.specificaions {
  display: flex;
  flex-direction: column;
}

.specificaions h3 {
  font-weight: 700;
}

.specificaions p {
  padding: 0;
  margin: 0%;
}

.button_white {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: var(--white);
  font: var(--primary-font-family);
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--white);
  text-transform: uppercase;
  margin-left: 5%;
}

.button_white:hover {
  background: var(--white);
  color: var(--font-black);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.vehicle_element {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5% 0;
}

.vehicle_element img {
  transform: translateX(-30%);
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients p {
  padding-right: 2%;
}

.leftHeroContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.leftHeroContainer img {
  width: 50%;
  height: auto;
  margin-left: 25%;
  /* background: radial-gradient(
    var(--background-light-grey) 99%,
    var(--fluorescent-green)
  ); */
}

/* ------------------------> pure ev */
.pureEVContainer {
  background-color: var(--background-dark-grey);
  color: var(--white);
  padding: 0% 7% 7% 0%;
  overflow-y: hidden;
  height: 110vh;
}
.arrowsBackground {
  /* display: none; */
  height: 110vh;
  transform: translateX(40%);
  z-index: 4;
  padding-right: 40px;
}

.heading_right {
  text-align: right;
  padding: 7% 0 2% 0;
}

.evComponents_specs_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.evComponents_specs_container img {
  transform: translateX(20%);
  width: 99%;
  /* margin: 25% 0; */
}

.glass_tile_specs {
  transform: translateX(-20%);
  padding: 3% 5%;
  background-color: var(--glass-effect-tile);
  border-radius: 30px;
  overflow: hidden;
  height: 50%;
}

.glass_tile_specs h3 {
  font-weight: 700;
  font-size: var(--heading-font-size);
  padding-bottom: 10%;
}

.glass_tile_specs li {
  list-style-type: none;
  padding-bottom: 5%;
}

.components_uplift {
  position: absolute;
}

/* ------------------------> B2B */

.b2bContainer {
  background-color: var(--background-light-grey);
  padding: 7%;
  color: var(--white);
}

.centerHeading {
  text-align: center;
  padding-bottom: 7%;
}

.carouselImage {
  border-radius: 30px;
  height: 50vh;
  /* width: 50vh; */
  aspect-ratio: 1/1;
}

.carousel-item {
  padding: 0 0 0 15%;
  display: flex;
}

.carousel-caption {
  margin-left: 40%;
  margin-bottom: 5%;
  text-align: left !important;
}

.carousel-indicators {
  justify-content: flex-end !important;
  padding: 0;
  margin-right: 37% !important; /* 25% originally */
  margin-bottom: 1rem;
}

/* ------------------------> metrics */
.metrics {
  display: grid;
  grid-template-columns: 1.5fr 2fr; /* means 2nd block is twice 1st block */
  justify-content: space-between;
  background-color: var(--background-dark-grey);
  color: var(--white);
  padding: 7%;
}

.metricNumber_icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* two auto/fr's means 2 rows */
}

.metricNumber_icons p {
  /* padding-left: 10%; */
  text-align: center;
}

.metricText {
}

/* .metricNumber_icons > * {
  width: 111%;
} */

/* ------------------------> Clients */

.ourClients {
  padding: 7%;
  background-color: var(--background-light-grey);
  color: var(--white);
}

.clientTitles {
  width: 150px;
  border-radius: 30px;
  scroll-snap-align: center; /* Snap items to center */
  display: flex;
  flex-shrink: 0; /* Prevent items from shrinking */

  flex: 0 0 auto; /* Ensure each item has fixed size */
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

/* .clientLogos {
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  row-gap: 10%;
} */

.clientLogos {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory; /* Optional: Snap scrolling */
}

/* ------------------------> Awards & Associations */

.awardsContainer {
  background-color: var(--background-dark-grey);
  color: var(--white);
  width: 100%;
  overflow-x: hidden !important;
  padding: 7%;
}

.awardsSubHeading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* height: 100vh; */
}

.waveBackground {
  position: absolute;
  transform: translate(-20%, -10%);
  width: 127vw;
}

.awardsHeading {
  text-align: center;
  font-weight: 700;
  padding-bottom: 7%;
}

.awardCards {
  flex-shrink: 0; /* Prevent items from shrinking */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.awardCards p {
  text-align: center;
}

.waveDiv {
  z-index: -1000;
}

.glass_tile_specs2 {
  z-index: 1;
  padding: 1%;
  background-color: var(--glass-effect-tile);
  border-radius: 30px;
  overflow: hidden;
}

/* ------------------------> Impact */

.impactConainer {
  background-color: var(--background-light-grey);
  color: var(--white);
  padding: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
}

.impactPointers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.pointerFlex {
  display: flex;
  align-items: center;
  padding-bottom: 2%;
}

.pinterIndex {
  background-color: hsla(120, 90%, 88%, 0.7);
  color: var(--primary-green);
  font-size: var(--heading-font-size);
  border-radius: 50%;
  padding: 1% 4%;
  margin-right: 5%;
}

.ImpactHeading {
  font-weight: 700;
}

/* ------------------------> Press */
.pressContainer {
  background-color: var(--background-dark-grey);
  color: var(--white);
  padding: 7%;
}

.pressHeading {
  font-weight: 700;
  padding-bottom: 2%;
}

.pressHeading img {
  padding-top: 1%;
  filter: invert(100%); /* to make black image white */
}

.articleContainer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.articleCard {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 2%;
  width: 30%;
}
.articleCard img {
  width: fit-content;
  height: 30vh;
  border-radius: 30px;
  padding-bottom: 5%;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  * {
    max-width: 100%; /* Adjust maximum width for smaller screens */
    padding: 0; /* Adjust padding for smaller screens */
  }

  .herContainer {
    flex-direction: column;
  }

  .reusable_heading {
    font-size: var(--heading-font-size-mobile);
  }
  .reusable_heading span {
    font-size: var(--green-heading-mobile);
  }
  .reusable_heading p {
    font-size: var(--paragraph-font-size-mobile);
  }
  .rightHeroContainer {
    text-align: center;
    height: 107vh;
  }

  .button_white {
    margin: 0;
  }

  .vehicle_element {
    flex-direction: column;
    transform: translateY(-20%);
  }

  .vehicle_element img {
    z-index: -100;
  }

  .clients {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
  }

  .clients p {
    padding: 15% 2% 2%;
    margin: 0px;
  }

  .play_buton {
    display: none;
  }

  .leftHeroContainer {
    display: none;
  }

  .rightHeroContainer p {
    padding: 2%;
  }
  /* ------------------------> Pure EV */
  .pureEVContainer {
    padding: 7% 0%;
    /* overflow-y: hidden; */
    height: 90vh;
  }

  .heading_right {
    text-align: center;
    padding: 7%;
    align-self: center;
  }

  .arrowsBackground {
    display: none;
  }

  .evComponents_specs_container {
    display: block;
    height: fit-content;
  }

  .evVehicle {
    transform: translate(-20%, 50%);
    width: 100%;
  }

  .glass_tile_specs {
    transform: translate(0%, -50%);
    padding: 5%;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .glass_tile_specs h3 {
    text-align: center;
    font-size: var(--heading-font-size-mobile);
  }

  .glass_tile_specs li {
    font-size: var(--paragraph-font-size-mobile);
  }

  .components_uplift {
    margin-left: auto;
    margin-right: auto;
  }

  /* ------------------------> B2B */

  .carouselImage {
    height: fit-content;
    margin-right: auto;
    width: 80%;
  }

  .carousel-item {
    display: block;
  }

  .carousel_flex {
    margin-bottom: 100%;
  }

  .carousel-caption {
    margin-left: 0%;
    margin-bottom: -85%;
    text-align: center !important;
  }

  .carousel-indicators {
    justify-content: center !important;
    padding: 0;
    margin-left: auto !important; /* 25% originally */
    margin-right: auto !important;
    margin-bottom: 1rem;
  }

  /* ------------------------> metrics */
  .metrics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .metricNumber_icons {
    padding-top: 10%;
  }

  .metricText p {
    font-size: var(--paragraph-font-size-mobile);
  }

  .clientTitles {
    border-radius: 30px;
    scroll-snap-align: center; /* Snap items to center */
    display: flex;
    flex: 0 0 auto; /* Ensure each item has fixed size */
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    padding-right: 10px;
    width: 100%;
  }
  /* ------------------------> Awards */
  .awardsSubHeading {
    flex-wrap: nowrap;
    animation: scrollAnimation 10s linear infinite; /* Apply scroll animation */
  }

  .awardsSubHeading:hover {
    animation: none;
  }
  /* .awardsSubHeading:focus {
    animation: none;
  } */

  @keyframes scrollAnimation {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(calc(-100% - 140px)); /* Scroll to the end */
    }
  }

  .waveBackground {
    transform: rotate(90deg) translate(100%, 100%);
    display: none;
  }

  .glass_tile_specs2 {
    padding: 5%;
  }

  .awardCards {
    width: auto; /* Allow cards to expand based on content */
  }

  /* ------------------------> Imapct */
  .impactConainer {
    flex-direction: column;
    text-align: center;
  }

  .image_desc {
    width: 100%;
  }
  .impactPointers {
    width: 100%;
  }
  .impact_title_desc {
    text-align: left;
  }

  .image_desc {
    text-align: center;
    padding-bottom: 10%;
  }

  .mobileStyle {
    margin-left: auto;
    margin-right: auto;
  }

  .pinterIndex {
    padding: 0% 4%;
  }
  /* ------------------------> Press */
  .pressHeading {
    font-weight: 700;
    padding-bottom: 5%;
  }

  .articleCard {
    width: fit-content;
    animation: scrollAuto 18s linear infinite;
    padding-right: 5%;
  }

  @keyframes scrollAuto {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(calc(-100% - 250px)); /* Scroll to the end */
    }
  }
}
