// Navbar Start
* {
  font-size: var(--paragraph-font-size);
  font-family: var(--secondary-font-family);
  overflow-x: hidden;
}
hr {
  margin: 0 0 !important;
}

/* .homeContainer {
} */

.herContainer {
  /* z-index: -5; */
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 0;
  margin: 0;
}

.play_buton {
  width: 100px;
  position: absolute;
  margin: 50vh 47vw;
  cursor: pointer;
}

.iHybridtext {
  font-size: 90px !important;
  line-height: 2ch;
}

.rightHeroContainer {
  background: linear-gradient(
    to bottom left,
    var(--background-dark-grey),
    85%,
    var(--primary-green)
  );
}
.rightHeroContainer p {
  padding: 10% 0;
}

.heading_content {
  /* padding: 5% 0 0 5%; */
  padding: 10% 15%;
}

.herContainer > * {
  width: 101%;
}

.reusable_heading {
  font-family: var(--primary-font-family);

  font-size: var(--heading-font-size);
  overflow-y: hidden;
  font-weight: 700;
  line-height: 3ch;
}

.reusable_heading span {
  font-size: var(--green-heading);
  font-family: var(--secondary-font-family);
  color: transparent;
  font-style: italic;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--secondary-green);
}
.reusable_heading p {
  font-size: var(--paragraph-font-size);
}

.leftHeroContainer {
  background-color: var(--background-light-grey);
}

.glass_tile_specs3 {
  padding: 3% 5%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--glass-effect-tile);
  width: 60%;
  align-items: center;
  text-align: center;
  align-self: center;
}

.specificaions {
  display: flex;
  flex-direction: column;
}

.specificaions h3 {
  font-weight: 700;
}

.specificaions p {
  padding: 0;
  margin: 0%;
}

.button_white {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: var(--white);
  font: var(--primary-font-family);
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--white);
  text-transform: uppercase;
  margin-left: 5%;
  transition: all 0.3s ease-in;
}

.button_white:hover {
  background: var(--white);
  color: var(--font-black);
  text-decoration: none;
}

.vehicle_element {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5% 0;
}

.vehicle_element img {
  transform: translateX(-30%);
}

.leftHeroContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.leftHeroContainer img {
  width: 50%;
  height: auto;
  margin-left: 25%;
  /* background: radial-gradient(
    var(--background-light-grey) 99%,
    var(--fluorescent-green)
  ); */
}

/* ------------------------> pure ev */
.pureEVContainer {
  background-color: var(--background-dark-grey);
  color: var(--white);
  padding: 7%;
  overflow: hidden;
  height: fit-content;
  position: relative;
}
.arrowsBackground {
  height: 100%;
  width: 20vw;
  z-index: 4;
  padding-right: 40px;
}

.components_uplift {
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: translate(-5.5%, -12.5%);
}

.heading_right {
  text-align: right;
  padding: 7% 0 2% 0;
}

.evComponents_specs_container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
}

.batteryFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.evDiv1 {
  padding-right: 10%;
}

.evDiv1 p {
  font-size: var(--paragraph-font-size);
}

.glass_tile_specs {
  /* transform: translateX(-20%); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
  background-color: var(--glass-effect-tile);
  border-radius: 30px;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.glass_tile_specs h3 {
  font-weight: 700;
  font-size: var(--heading-font-size);
  padding-bottom: 10%;
}

/* ------------------------> B2B */

.b2bContainer {
  background-color: var(--background-light-grey);
  padding: 7%;
  color: var(--white);
}

.centerHeading {
  text-align: center;
  padding-bottom: 7%;
}

.carouselImage {
  border-radius: 30px;
  height: 50vh;
  /* width: 50vh; */
  aspect-ratio: 1/1;
}

.carouselContainer {
  display: flex;
  align-items: center;
}

.carousel-item {
  padding: 0 0 0 15%;
  display: flex;
}

.captionContainer {
  padding: 5% 15% 5% 10%;
}

.carousel-caption {
  margin-left: 40%;
  margin-bottom: 5%;
  text-align: left !important;
}

.carousel-indicators {
  display: none !important;
  justify-content: flex-end !important;
  padding: 0;
  margin-left: 75% !important; /* 25% originally */
  margin-bottom: 1rem;
  margin-top: 5%;
}

/* ------------------------> metrics */
.metrics {
  display: grid;
  grid-template-columns: 1.5fr 2fr; /* means 2nd block is twice 1st block */
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--background-dark-grey);
  color: var(--white);
  padding: 7%;
}

.metricNumber_icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* two auto/fr's means 2 rows */
}

.metricNumber_icons p {
  /* padding-left: 10%; */
  text-align: center;
}

/* .metricText {
} */

/* .metricNumber_icons > * {
  width: 111%;
} */

/* ------------------------> Clients */

.ourClients {
  padding: 7%;
  background-color: var(--background-light-grey);
  color: var(--white);
}

.clientTitles {
  width: 150px;
  border-radius: 30px;
  padding-right: 10px;
}

.clientLogos {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory; /* Optional: Snap scrolling */
}

/* ------------------------> Awards & Associations */

.awardsContainer {
  background-color: var(--background-dark-grey);
  color: var(--white);
  width: 100%;
  padding: 7%;
}

.awardsSubHeading {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  overflow-x: hidden !important;
  width: 100%;
  flex-wrap: nowrap;
  /* height: 100vh; */
}

.waveBackground {
  position: absolute;
  transform: translate(-20%, -12%);
  width: 127vw;
}

.awardsHeading {
  text-align: center;
  font-weight: 700;
  padding-bottom: 7%;
}

.awardCards {
  flex-shrink: 0; /* Prevent items from shrinking */
  width: 20vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;

  align-items: center;
  margin: 0.1%;
  transition: transform 0.3s ease;
}

.awardCards p {
  text-align: center;
  font-size: var(--paragraph-font-size);
}

.awardCards h5 {
  font-weight: 700;
}

.waveDiv {
  z-index: -1000;
}

.glass_tile_specs2 {
  z-index: 1;
  padding: 1%;
  margin: 1%;
  background-color: var(--glass-effect-tile);
  border-radius: 30px;
  overflow: hidden;
}

/* ------------------------> Impact */

.impactConainer {
  background-color: var(--background-light-grey);
  color: var(--white);
  padding: 7%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image_desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
}

.impactPointers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.pointerFlex {
  display: flex;
  align-items: center;
  padding-bottom: 2%;
}

.pinterIndex {
  background-color: var(--fluorescent-pink);
  color: var(--white);
  font-size: var(--paragraph-font-size);
  width: var(--heading-font-size);
  height: var(--heading-font-size);
  padding: 3%;
  font-weight: 700;
  margin-right: 5%;
  border-radius: 50%; /* Ensures the container has a circular shape */
  display: flex; /* Align content in the center */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  overflow: hidden;
}

.ImpactHeading {
  font-weight: 700;
}

/* ------------------------> Press */
.pressContainer {
  background-color: var(--background-dark-grey);
  color: var(--white);
  padding: 7%;
}

.pressHeading {
  font-weight: 700;
  padding-bottom: 2%;
}

.pressHeading img {
  padding-top: 1%;
  filter: invert(100%); /* to make black image white */
}

.articleContainer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.articleCard {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 2%;
  width: 30%;
}
.articleCard img {
  width: fit-content;
  height: 30vh;
  border-radius: 30px;
  padding-bottom: 5%;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  * {
    max-width: 100%; /* Adjust maximum width for smaller screens */
    padding: 0; /* Adjust padding for smaller screens */
  }

  .herContainer {
    flex-direction: column;
  }

  .reusable_heading {
    font-size: var(--heading-font-size-mobile);
  }
  .iHybridtext {
    font-size: 50px !important;
  }

  .reusable_heading p {
    font-size: var(--paragraph-font-size-mobile);
  }

  .reusable_heading span {
    font-size: var(--green-heading-mobile);
  }

  .rightHeroContainer {
    text-align: center;
    height: fit-content;
  }

  .heading_content {
    /* padding: 5% 0 0 5%; */
    padding: 7%;
  }

  .button_white {
    margin: 0;
  }

  .clients {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
  }

  .clients p {
    padding: 15% 2% 2%;
    margin: 0px;
  }

  .play_buton {
    display: none;
  }

  .leftHeroContainer {
    display: none;
  }

  .rightHeroContainer p {
    padding: 2%;
  }
  /* ------------------------> Pure EV */
  .pureEVContainer {
    padding: 7%;
    /* overflow-y: hidden; */
    height: fit-content;
  }

  .heading_right {
    text-align: center;
    padding: 7%;
    align-self: center;
  }

  .arrowsBackground {
    display: none;
  }

  .evComponents_specs_container {
    display: block;
  }

  .evDiv1 {
    text-align: center;
    padding: 0 0 10% 0;
  }

  .batteryFeatures {
    grid-template-columns: 1fr;
  }

  .glass_tile_specs {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15%;
    text-align: center;
  }

  .components_uplift {
    margin-left: auto;
    margin-right: auto;
  }

  /* ------------------------> B2B */

  .carouselImage {
    height: fit-content;
    margin-right: auto;
    width: 80%;
  }
  .carouselContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .carousel-item {
    display: block;
  }

  .carousel-caption {
    margin-left: 0%;
    margin-bottom: -100%;
    text-align: center !important;
    z-index: 1000;
  }

  .captionContainer {
    padding: 10% 15% 10% 0;
  }

  .carousel-indicators {
    display: none !important;
    justify-content: center !important;
    padding: 0;
    margin-left: auto !important; /* 25% originally */
    margin-right: auto !important;
    margin-bottom: 1rem;
    margin-top: 5%;
  }

  .carouselContent {
    display: block;
  }

  /* ------------------------> metrics */
  .metrics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .metricNumber_icons {
    padding-top: 10%;
  }

  .metricText p {
    font-size: var(--paragraph-font-size-mobile);
  }

  .clientTitles {
    border-radius: 30px;
    scroll-snap-align: center; /* Snap items to center */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    padding: 0 10px;
    width: 80vw;
  }
  /* ------------------------> Awards */
  .waveBackground {
    display: none;
  }

  .glass_tile_specs2 {
    width: 100%; /* Allow cards to expand based on content */
    margin: 0%;
    padding: 5% 0%;
  }

  .awardCards {
    width: 100%;
    margin-right: 50px;
  }

  /* ------------------------> Imapct */
  .impactConainer {
    flex-direction: column;
    text-align: center;
  }

  .image_desc {
    width: 100%;
  }
  .impactPointers {
    width: 100%;
  }
  .impact_title_desc {
    text-align: left;
  }

  .image_desc {
    text-align: center;
    padding-bottom: 10%;
  }

  .mobileStyle {
    margin-left: auto;
    margin-right: auto;
  }

  .pinterIndex {
    font-size: var(--heading-font-size-mobile);
  }
  /* ------------------------> Press */
  .pressHeading {
    font-weight: 700;
    padding-bottom: 5%;
  }

  .articleCard {
    width: fit-content;
    animation: scrollAuto 18s linear infinite;
    padding-right: 5%;
  }

  .articleCard:hover {
    animation-play-state: paused;
  }

  @keyframes scrollAuto {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(calc(-100% - 250px)); /* Scroll to the end */
    }
  }
}
