.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
  background-color: var(--background-dark-grey);
  color: var(--white);
}
.navbarContainer a {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.menuItems {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-dark-grey);
  padding: 0px 0 2% 0 !important;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide overflow to prevent content from showing during transition */
  max-height: 0; /* Initially set height to 0 */
  transition: max-height 0.3s ease; /* Smooth transition */
}

.menuItems a {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  padding: 10px 0;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .navbarContainer {
    justify-content: space-between !important;
    padding: 1% 2%;
    background-color: var(--background-dark-grey);
    color: var(--white);
    margin: 0;
    position: relative;
  }

  .hamburgerMenu {
    display: block;
    height: 30px;
    margin-left: auto;
    padding-right: 2%;
  }

  .desktopNav {
    display: none;
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-dark-grey);
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .menuItems.show {
    display: flex;
    max-height: fit-content;
    z-index: 500;
    overflow-y: visible;
    position: absolute;
  }

  .menuItems a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    padding: 10px 0;
  }
}
